# Dependencies
node_modules/
.pnpm-store/

# Environment variables
# .env
# .env.*
**/libquery_engine-darwin-arm64.dylib.node
# Build outputs
packages/**/build/
packages/**/public/artists
packages/**/public/pixiv_data
dist/
!build/
!build/.env.*
*.tsbuildinfo

packages/pixiv-automation/user_data/*
# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Database
*.db
*.sqlite

# Docker
# .dockerignore

# Temporary folders
tmp/
temp/

# Coverage directory used by tools like istanbul
coverage/
.env
