registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
# Fix puppeteer https://github.com/puppeteer/puppeteer/issues/1597#issuecomment-351945645
puppeteer-download-host=https://cdn.npmmirror.com/binaries

